*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: red;
    height: 700px;
    width: 800px;
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px;
    grid-template-rows: 133px 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    row-gap: 12px;
    column-gap: 12px;
    justify-items: start;

}
.item
{
    background-color: aqua;
    /* height: 122px;
    width: 122px; */
}
.item1{
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-column: 1/span 2;
}
.footer{
    background-color: black;
    grid-column-start: 1 ;
    grid-column-end: 4;
}